<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory>tests/Feature</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src/</directory>
        </include>
    </source>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="DB_CONNECTION" value="testing"/>
        <!-- Keep the AWS SDK fully offline in tests: never probe the EC2
             instance-metadata endpoint (which hangs where there is no route)
             and use dummy static credentials. Tests mock the S3 client. -->
        <env name="AWS_EC2_METADATA_DISABLED" value="true"/>
        <env name="AWS_ACCESS_KEY_ID" value="testing"/>
        <env name="AWS_SECRET_ACCESS_KEY" value="testing"/>
        <env name="AWS_DEFAULT_REGION" value="auto"/>
    </php>
</phpunit>
